<aside>
	<div class="panel radius">
		<h3>PMI Knowledge Base</h3>
		<p>
			Here at PMI, we have a very unique opportunity to share information with both the Defensive and Precision Shooting Communities.  Just about every piece of equipment, from firearms, holsters, optics and accessories come though our ranges at the Whittington U and PMI Mobile Training Courses. </p> 
       <p>Read, share and comment on our articles, and be sure to sign up for the PMI Newsletter!
		</p>
	</div>

<div class="border-dotted radius b30">
		<a href="http://nrawc.org/training/" target="_blank"><img src="http://jonweilerpmi.github.io/pmisite/images/whittingtonu.jpg" alt="Whittington U">
		<p class="text-left">
			<center>Click here to train with us at the Whittington U!</center></a>
		</p>
	</div>

<div class="border-dotted radius b30">
		<a href="https://store.professionalmarksmen.com/index.php?l=product_list&c=5" target="_blank"><img src="http://professionalmarksmen.com/images/slider-1.jpg" alt="Del Norte Gun Club">
		<p class="text-left">
			<center>Click here to train with us at Del Norte Gun Club - Albuquerque, NM!</center></a>
		</p>
	</div>

	<div class="border-dotted radius b30">
		<a href="http://survivaltrial.com/" target="_blank"><img src="http://jonweilerpmi.github.io/pmisite/images/stlogo.png" alt="Survival Trial">
		<p class="text-left">
			<center>Click here for Survival Trial.  Put your training to the Ultimate Test!</center></a>
		</p>
	</div>
</aside>