<aside>
	<div class="panel radius">
		<h3>PMI Knowledge Base</h3>
		<p>
			We have a very unique opportunity to share information with both the Defensive and Precision Shooting Communities.  Just about every piece of equipment, from firearms, holsters, optics and accessories come though our ranges at the Whittington U and PMI Mobile Training Courses. </p> 
       <p>Read, share and comment on our articles.
		</p>
	</div>

<a href="http://survivaltrial.com/"><img src="http://jonweilerpmi.github.io/pmisite/images/stlogo.png" alt="Survival Trial - The Ultimate Test">

	<div class="border-dotted radius b30">
		<a href="http://nrawc.org/training/ TARGET="_blank""><img src="http://jonweilerpmi.github.io/pmisite/images/whittingtonu.jpg" alt="Whittington U">
		<p class="text-left">
			Whittington U</a>
		</p>
	</div>
</aside>